.cabecera{
    img{
        width: 100%;
    }

    ul{
        li{
            display: inline;
        }
    }
}

.nav{
    height: 20vh;
    position: fixed;
    background-color: rgba(149,148,148,0.4);

    .redes{
        padding-top: 6vh;
    }   

    .menu{
        padding-top: 9vh;
    }

    .logo{
        padding-top: 10px;
    }
}