
.nav{
    height: 12vh;
    position: fixed;
    background-color: $blanco;
    //background-color: rgba(149,148,148,0.4);
    
    .redes{
        padding-top: 1vh;
        }   
    
    .menu{
        ul{
            li{
                display: inline;
            }
        }
    }
    
    .logo{
        width: 10%;
        img{
            width: 100%;
        }
    }
}

