.botonmenu{
    display: none;
}

@media screen and (min-width: $viewport-large) {
    .nav{
        height: 12vh;
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px 0 10px ;
        background-color: rgba(149,148,148,0.4);
        
        .redes{
            a{
                padding-left: 10px;
                color: $blanco;
            }
        
        }   
        
        .menu{
            ul{
                li{
                    display: inline;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-weight: 800;
                }
            }
        }
        
        .logo{
            width: 10%;
            img{
                width: 100%;
            }
        }
    }
}


@media screen and (max-width: $viewport-large) {
    .nav{
        height: 20vh;
        width: 100vw;
        position: fixed;
        padding: 10px 100px 0 30px ;

        .redes{
            display: none;
        }   
        
        
        .logo{
            width: 30%;
            img{
                width: 100%;
            }
        }
    }
}

