@media screen and (min-width: $viewport-ml) {
    
    .areas_trabajo{
        background-color: $rojo1;
        height: 100vh;
    
        .titulo{
            padding: 15vh 0 0 11%;
    
            h2{
                font-weight: 800;
            }
        }

        .contenido{
            padding: 8vh 9% 20% 9%;
            display: flex;
            justify-content: space-between;

            .tarjeta{
                background-color: $amarillo;
                padding: 30px 10px 50px 10px;
                height: auto;
                width: 25vw;
                border-radius: 30px;
                padding-top: 30px;
                text-align: center;
            }

            img{
                width: 50%;
            }

            h3{
                font-weight: 700;
                padding: 15px;
            }

            p{
                padding: 15px 40px 15px 60px;
                text-align: left;
                font-size: 14px;
            }
    
        }
    }
}    





@media screen and (max-width: $viewport-ml) {  
    .areas_trabajo{
        background-color: $rojo1;
    
        .titulo{
            padding: 3vh 0 0 16vw;
            h2{
                font-weight: 400;
            }
        }

        .contenido{
            .tarjeta{
                background-color: $amarillo;
                margin: 8% 10%;
                border-radius: 30px;
                padding: 30px 30px 70px 30px;
                text-align: center;
            }
        }
    }
}




    