.contacto{
        background-color: $blanco;

        span{
            font-family: $raleway;
        }
}

@media screen and (min-width: $viewport-large){
    .contacto{
        height: 95vh;
        display: flex;

        .formulario{
            padding-top: 15vh;
            padding-left: 9%;
            width: 55%;
        }
    
        .redes_contactos{
            padding-top: 15vh;
            padding-left: 10%;
            width: 40%;
        }
    
        img{
            width: 50%;
            margin-bottom: 10%;
        }
    
        div{
            padding: 5% 0;
    
            span{
                padding-left: 5%;
            }
        }
    }




}

@media screen and (max-width: $viewport-large){
    .contacto{

        .formulario{
            margin: 0 0 0 17%;
        } 
        iframe{
            width: 80%;
        }

        .redes_contactos{
            display: none;

            /*text-align: center;

            span{
                text-align: right;
            }
            
            img{
                display: none;
            }*/
        }
    }

}
   
   
    

    

    
