section{
    height: 100vh;
}

.quienes_somos{
    background-color: $azul1;
    
    .titulo{
        padding: 10px 0 10px 10px;
    }
}

.areas_trabajo{
    background-color: $rojo1;
}

.estamos{
    background-color: $azul1;
}