@media screen and (min-width: $viewport-large) {
    section{
        height: 100vh;
        width: 100vw;
    }
    
    .quienes_somos{
        background-color: $azul1;
    
        .titulo{
            padding: 20vh 0 0 11%;
    
            h2{
                font-weight: 800;
            }
        }
        
        .contenido{
    
            height: 80vh;
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .parrafo{
                width: 40%;
    
                p{
                   color: white;
                   padding-bottom: 20px;
                   line-height: 140%;
                }
    
            }
    
        }
    }
    
    .areas_trabajo{
        background-color: $rojo1;
        .titulo{
            padding: 20vh 0 0 11%;
    
            h2{
                font-weight: 800;
            }
        }
    
        .contenido{
            padding: 8vh 9% 0 9%;
            display: flex;
            justify-content: space-between;
    
            .tarjeta{
                background-color: $amarillo;
                height: 60vh;
                width: 25vw;
                border-radius: 30px;
                padding-top: 30px;
                text-align: center;
    
                img{
                    width: 50%;
                }
    
                h3{
                    font-weight: 700;
                    padding: 15px;
                }
    
                p{
                    padding: 15px 40px 15px 60px;
                    text-align: left;
                    font-size: 14px;
                }
    
            }
        }
    }
    
    .estamos{
        background-color: $azul1;
        .titulo{
            padding: 20vh 0 0 11%;
    
            h2{
                font-weight: 800;
            }
        }
    
        .contenido{
            display: flex;
            justify-content: space-between;
            padding: 8vh 5% 0 5%;
            .noticia{
                padding: 30px;
                height: 60vh;
                background-color: white;
                border-radius: 20px;
                width: 20vw;
    
                img{
                    width: 100%;
                }
            }
        }
    }
    
    .contacto{
    
        height: 95vh;
        display: flex;
    
        .formulario{
            padding-top: 15vh;
            padding-left: 9%;
            width: 55%;
        }
    
        .redes_contactos{
            padding-top: 15vh;
            padding-left: 10%;
            width: 40%;
    
            img{
                width: 50%;
                margin-bottom: 10%;
            }
    
            div{
                padding: 5% 0;
    
                p{
                    display: inline;
                    padding-left: 5%;
                }
            }
    
            
        }
    
    }
}

@media screen and (max-width: $viewport-large) {
    .quienes_somos{
        background-color: $azul1;
        text-align: center;
    

        }

        .titulo{
    
            h2{
                font-weight: 400;
            }
        }
        
        .contenido{
            display: none;

            /*height: 80vh;
            margin-left: 10%;
            margin-right: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .parrafo{
                width: 40%;
    
                p{
                   color: white;
                   padding-bottom: 20px;
                   line-height: 140%;
                }
    
            }
    
        }*/
    }
    
    .areas_trabajo{
        display: none;

        /*background-color: $rojo1;
        .titulo{
            padding: 20vh 0 0 11%;
    
            h2{
                font-weight: 800;
            }
        }
    
        .contenido{
            padding: 8vh 9% 0 9%;
            display: flex;
            justify-content: space-between;
    
            .tarjeta{
                background-color: $amarillo;
                height: 60vh;
                width: 25vw;
                border-radius: 30px;
                padding-top: 30px;
                text-align: center;
    
                img{
                    width: 50%;
                }
    
                h3{
                    font-weight: 700;
                    padding: 15px;
                }
    
                p{
                    padding: 15px 40px 15px 60px;
                    text-align: left;
                    font-size: 14px;
                }
    
            }
        }*/
    }
    
    .estamos{
        display: none;
        /*background-color: $azul1;
        .titulo{
            padding: 20vh 0 0 11%;
    
            h2{
                font-weight: 800;
            }
        }
    
        .contenido{
            display: flex;
            justify-content: space-between;
            padding: 8vh 5% 0 5%;
            .noticia{
                padding: 30px;
                height: 60vh;
                background-color: white;
                border-radius: 20px;
                width: 20vw;
    
                img{
                    width: 100%;
                }
            }
        }*/
    }
    
    .contacto{
        display: none;
        /*height: 95vh;
        display: flex;
    
        .formulario{
            padding-top: 15vh;
            padding-left: 9%;
            width: 55%;
        }
    
        .redes_contactos{
            padding-top: 15vh;
            padding-left: 10%;
            width: 40%;
    
            img{
                width: 50%;
                margin-bottom: 10%;
            }
    
            div{
                padding: 5% 0;
    
                p{
                    display: inline;
                    padding-left: 5%;
                }
            }
    
            
        }*/
    
    }
}